<div class="container">
     

     <div class="panel panel-primary">
      <div class="panel-heading">Dashboard</div>
      <div class="panel-body">
      <div class="row">
        <div class="col-sm-2">
        <!-- <search-box (update)="term = $event"></search-box> -->
        </div>
            <div class="col-sm-8">
                    <div class="pull-right"><a class="btn btn-primary" routerLink="/addemp" routerLinkActive="active">Add Employee</a></div>
            </div>
            </div>
            <hr>
         <div class="row">
        <div class="col-sm-2"></div>
            <div class="col-sm-8">
            <div class="panel panel-primary">
  <!-- Default panel contents -->
  <div class="row">
        <div class="col-sm-2"></div>
        </div>
  <div class="panel-heading">Employee List</div>
                    <table class="table table-bordered">
                    <thead class="bg-danger">
                        <tr>
                        <th>ID</th>
                        <th>Emp ID</th>
                        <th>NAME</th>
                        <th>EMAIL</th>
                        <th>PHONE</th>
                        <th nowrap="true">ACTION</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="bg-success" *ngFor="let emp of employees; let i=index">
                        <td>{{i+1}}</td>
                            <td>{{emp.empid}}</td>
                            <td>{{emp.name}}</td>
                            <td>{{emp.email}}</td>
                            <td>{{emp.phone}}</td>
                            <td><button class="btn btn-primary" routerLink="/empdetail/{{emp.empid}}" routerLinkActive="active">Detail</button>&nbsp;&nbsp;&nbsp;&nbsp;<button class="btn btn-danger" (click)="onClickRemove(emp)">Delete</button></td>
                        </tr>
                    </tbody>
                </table>
                </div>
                </div>
            </div>
            </div> 
      </div>
    </div>


    
            