<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Varun Angular2</a>
    </div>
	<ul class="nav navbar-nav">
		<li class="active"><a href="#">Home</a></li>
		<li><a routerLink="/crisis-center" routerLinkActive="active">Crisis Center</a></li>
		<li><a routerLink="/heroes" routerLinkActive="active">Heroes</a></li>
		<li><a href="#">Services</a></li>
		<li><a href="#">Contact</a></li>
		<li><a href="#">Help</a></li>
	</ul>
</div>
</nav>