<div class="container">
<div class="panel panel-primary">
      <div class="panel-heading">About Us</div>
      <div class="panel-body">
<p>smartData is a leading contract software development company that specializes in small to medium size projects for our global clients. Our 20 years experience with more than a thousand global clients has built the reputation for scaling client expectations. With our offices in US, Australia, and India, we provide round-the-clock connectivity and services to the clients in the Healthcare, Digital Enterprises, Business Automation and IT Services. Our development expertise in Microsoft, Open Source, Big Data and Mobile Platforms which is backed by our extensive portfolio highlighting the live projects from our clients worldwide.</p>
      </div>
    </div>
</div>    